body {
}

.full-width-div {
    width: 100%;
    left: 0;
    background-image: url("/stile/img/img6.jpg");
    min-height: 730px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1 {
    color: white;
    font-size: 37px;
}

.destinations-continents__icon svg {
    height: 75px;
    fill: #ADB5BD;
    width: auto;
}

.card-ticket {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    border: 0px solid #EEE9E5;
    max-width:50%;
}


.svg-illustration:hover {
    fill: black;
}

.destinations-continents__label {
    color: black;
    font-size: 15px;
}

a:hover {
    text-decoration: none;
}

.destinations-continents__item {
    display: block;
    text-align: center;
}



h2 {
    color: white;
    font-size: 20px;
    text-align:left;
}

.bianco{
    background-color:white;
    max-width:1110px;
}

.bianco :hover {
    background-color: yellow;
}

.col-4{
    max-width:20%;
}

.thematic-card-cover-title {
    display: table-cell;
    vertical-align: middle;
    font-weight: normal;
    font-size: 1.4em;
    color: #343A40;
    line-height: inherit;
    text-align: center;
}

.card-cover {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    border: 1px solid #EEE9E5;
    max-width:300px;
}

h3{
    font-size:30px;
}

.tematiche{
    margin-bottom:1%;
}

.uno {
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url("/stile/img/img12.jpg");
    min-height: 730px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card-middle {
    padding: 30px 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 992px;
}

.card-ticket, .card-cover-rank, .card-cover-title, .card-cover, .card-middle, .card-place {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.text-content-title {
    margin: 10px 0 26px;
    font-weight: normal;
    font-size: 30px;
    color: deepskyblue;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 15%;
    font-weight:bold;
}

p {
    color: white;
    font-weight: bold;
    font-size:18px;
}

.text-content{
    margin-top:30%;
}

h6{
    font-size:20px;
}

.testo {
    color: black;
    font-weight: normal;
}

.margine{
    margin-top:-16%;
}

.footer {
    margin-top: 10px;
    bottom: unset;
}

@media (max-width:430px) {
    h6 {
        font-size: 10px;
    }
}
