body {
}
.whentogo-bar-full.average {
    width: 50%;
}

.whentogo-bar-full {
    background-color: #0056b3;
}

.whentogo-bar, .whentogo-bar-full {
    height: 16px;
}

.whentogo-bar {
    display: inline-block;
    overflow: hidden;
    width: 32px;
    background-color: #EEE9E5;
    border-radius: 8px;
}

.footer {
    margin-top: 10px;
    bottom: unset;
}
