body {
}

h5{
    font-size:16px;
}

a{
    color:black;
    font-size:20px;
}
a:hover {
    text-decoration: none;
    color: blue;
}

.picture-overlay{
    margin-top:-55px;
}

.facet-tile__title {
    color: #fff;
    font-weight: 800;
    font-size: 20px;
    text-align: left;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
}

.margine{
    margin-bottom:4%;
    margin-top:3%;
}

.titolo{
    margin-top:-2%;
}

.footer {
    margin-top: 10px;
    bottom: unset;
}


@media only screen and (max-width: 500px) {
    .margine {
        margin-bottom: 10%;
    }
}

@media only screen and (width: 768px) {
    .margine {
        margin-right:3%;
    }
}